/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #2d3a35;
}

.count-element {
  color: #c20a72;
}

.pera {
  font-family: 'Roboto';
  font-size: 18px;
  color: #2d3a35;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
